body {
  margin: 0;
  padding: 3px;
  font-family: sans-serif;
  overflow-y: hidden;
}

.contact {
  margin-top: 5px;
  margin-bottom: 0px;
}

.contact > a {
  margin-left: 5px;
  margin-right: 5px;
}

.InsightList {
  height: 100vh;
  overflow-y: scroll;
}
